apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- polkadot-private-node.yaml

# Adds namespace to all resources.
namespace: ${kubernetes_namespace}

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
namePrefix: ${kubernetes_name_prefix}-

imageTags:
  - name: polkadot-private-node
    newName: gcr.io/${project}/polkadot-private-node
    newTag: ${kubernetes_namespace}-latest
  - name: polkadot-archive-downloader
    newName: gcr.io/${project}/polkadot-archive-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: polkadot-node-key-configurator
    newName: gcr.io/${project}/polkadot-node-key-configurator
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: polkadot-configmap
  literals:
      - ARCHIVE_URL="${polkadot_archive_url}"
      - TELEMETRY_URL="${polkadot_telemetry_url}"
      - VALIDATOR_NAME="${polkadot_validator_name}"
      - OUT_PEERS="${out_peers}"
      - IN_PEERS="${in_peers}"
      - CHAIN="${chain}"
      - PUBLIC_MULTIADDR="/ip4/${p2p_ip}/tcp/${p2p_port}"
      - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
      - LOCAL_PEERS="${local_peers}"

patchesStrategicMerge:
- prefixedpv.yaml
- regionalpvpatch.yaml
- nodepool.yaml
- lb_ip_patch.yaml
