polkadot_k8s_images:
  polkadot_payout_cron: polkadot-payout-cron:dev
# to deploy in a specific node pool, put label here
node_selector: {}
stash_account_address: "your stash"
stash_account_alias: "an alias so you recognize your account when getting an alert (if you have several"
payout_account_alias: "an alias for the payout account (displayed in the logs for convenience)"
slack_alert_channel: "the slack channel where you want to receive the alert"
node_endpoint: "the uri of the polkadot node used to send the payout operation"
num_past_eras: "how many eras past should the script check for missing payouts?"
chain: "kusama"

# schedule in cron format. example below: every 3 hours, 2 minutes past the hour
cron_schedule: "2 */3 * * *"

# sensitive
payout_account_mnemonic: "12 word secret seed for an account that's paying for the fees associated with the payout operation. put very little money on it"
slack_alert_token: "the token to connect to slack and send alerts"
