apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: polkadot-votebot-cron
  namespace: {{ .Release.Namespace }}
spec:
  schedule: {{ .Values.cron_schedule }}
  concurrencyPolicy:  Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: polkadot-votebot-cron
        spec:
          nodeSelector:
{{ toYaml .Values.node_selector | indent 12 }}
          containers:
          - name: polkadot-votebot-cron
            image: {{ .Values.polkadot_k8s_images.polkadot_votebot_cron }}
            env:
            - name: PROXY_ACCOUNT_MNEMONIC
              valueFrom:
                secretKeyRef:
                  name: polkadot-proxy-secrets
                  key: proxy-account-mnemonic
            - name: "SLACK_ALERT_TOKEN"
              valueFrom:
                secretKeyRef:
                  name: polkadot-proxy-secrets
                  key: slack-alert-token
            - name: "STASH_ACCOUNT_ADDRESS"
              value: "{{ .Values.stash_account_address }}"
            - name: "STASH_ACCOUNT_ALIAS"
              value: "{{ .Values.stash_account_alias }}"
            - name: "SLACK_ALERT_CHANNEL"
              value: "{{ .Values.slack_alert_channel }}"
            - name: "NODE_ENDPOINT"
              value: "{{ .Values.node_endpoint }}"
            - name: "VOTE_REPO"
              value: "{{ .Values.vote_repo }}"
            - name: "PROXY_ACCOUNT_ALIAS"
              value: "{{ .Values.proxy_account_alias }}"
            - name: "CHAIN"
              value: "{{ .Values.chain }}"
            resources:
              limits:
                cpu: 0
            imagePullPolicy: IfNotPresent
          restartPolicy: OnFailure
